/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  font-size: 62.5%;
}

#main{
  font-size: 20px;
}

img{
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 25px;
  
}

#main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 2rem;
}

h1, button, #title, #date{
  font-family: audiowide, sans-serif;
}

h1{
  font-size: 6rem;
  flex-wrap: nowrap;
}

button{
  width: 296px;
}

#explanation{
  font-family: Helvetica, sans-serif;
  width: 700px;
  font-size: 2rem ;
  text-align: center;
  padding: 25px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(113,35,51,1) 100%);
}


@media screen and (max-width: 650px){
  #explanation{
    width: 500px
  }
}





@media screen and (max-width: 516px){
  section{
    font-size: 1.5rem;
  }
  button{
    width: 200px;
  }
  h1{
    font-size: 4rem;
  }
  object{
    height: 200px;
    padding: 12.5px;
  }
  #explanation{
    width: 400px;
    font-size: 1rem;
    padding: 25px
  }
}
@media screen and (max-width: 344px){
  h1{
    font-size: 3rem ;
  }
  img{
    height: 150px;
    padding: 10px;
  }
}